.menuBox {
  @media only screen and (min-width: 1025px) {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
  }
}
.content {
  @media only screen and (min-width: 1025px) {
    display: flex;
  }
}
